# Port for Express Backend Server
PORT=8000

# PostgreSQL Connection String (Local PostgreSQL or Neon DB)
# Local Postgres Example: postgresql://postgres:password@localhost:5432/fleetpulse?schema=public
# Neon DB Example: postgresql://username:password@ep-xyz.region.aws.neon.tech/fleetpulse?sslmode=require
DATABASE_URL=""

# Node Environment ("development" or "production")
NODE_ENV="development"

# Secret key used for signing JWT authentication tokens
JWT_SECRET=""
